/* The sidebar menu */
.sidenav {
    height: 500px; /* Full-height: remove this if you want "auto" height */
    background-color: #c5cbe3;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
}

.sidenav a {
    color: #4056a1;
}

.sidenav .form-control {
    color: #2c3531;
}

#module-info {
    height: 500px;
    padding: 5px;
    overflow-y: scroll;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.module-item.active>a,
.module-item.active>a:focus,
.module-item.active>a:hover {
    background-color: #4056a1 !important;
}

.module-item>a:hover {
    background-color: #8999c5 !important;
    color: white;
}

.nav-stacked>li+li {
    margin-top: 0px !important;
}

.nav-pills>li>a,
.nav-pills>li.active>a {
    border-radius: 0px !important;
}

#new-module-btn,
#new-lesson-tab {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
}

#new-lesson-tab .fa {
    color: white;
}