/* The sidebar menu */
.sidenav {
    height: 500px; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    background-color: #c5cbe3;
    position: fixed;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 2px solid #c7c7c7;
    overflow-y: scroll;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    color: #2c3531;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #434846cc;
    text-decoration: none;
}

#module-info {
    height: 500px;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 10px;
    overflow-y: scroll;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.styled-list > .list-group-item {
    background-color: #c5cbe3;
    border-color: #c7c7c7;
    color: #2c3531;
}

.styled-list .close {
    margin-top: -2px;
}