.navbar-primary {
    background-color: #4056a1;
}

.navbar-primary .navbar-toggle:hover {
    background-color: #1e77d6;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-primary .navbar-toggle {
    border-color: white;
}

.navbar-brand {
    color: white;
}