#new-widget-btn {
    background-color: #4056a1;
    color: white;
}

#new-widget-btn:hover {
    background-color: #4a60a7;
}

#paragraph-textarea,
#list-textarea {
    resize: none;
}

#list-textarea {
    width: 100% !important;
}